name: ping5

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/ping5.yml'

permissions:
  contents: write

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - run: echo pong5 > pong5.txt
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add pong5.txt
          git commit -m "Ping5 pong"
          git push origin HEAD:main
