name: ping

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/ping.yml'

permissions:
  contents: write

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo pong > pong.txt
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add pong.txt
          git commit -m "Ping pong"
          git push
