name: ping4

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/ping4.yml'

permissions:
  contents: write

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - run: echo pong4 > pong4.txt
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add pong4.txt
          git commit -m "Ping4 pong"
          git push origin HEAD:main
